<footer id="site-footer">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayout.lt-sm="column">
      <div fxFlex = "20" class="nav_menu">
        <span class="widget-title">Helpful Links</span>
          <ul id="menu-helpful-links" class="menu">
            <li class="menu-item"><a target="_blank" href="https://commonfund.nih.gov/">NIH Common Fund</a></li>
        <li class="menu-item"><a target="_blank" href="https://www.genome.gov/">NHGRI</a></li>
        <li class="menu-item"><a target="_blank" href="http://www.lincsproject.org/">NIH LINCS</a></li>
        <li class="menu-item"><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/">PubMed</a></li>
        <li class="menu-item"><a target="_blank" href="https://www.ncbi.nlm.nih.gov/geo/">GEO</a></li>
        <li class="menu-item"><a target="_blank" href="https://www.gtexportal.org/home/">GTEx Portal</a></li>
        <li class="menu-item"><a target="_blank" href="https://www.fda.gov/RegulatoryInformation/LawsEnforcedbyFDA/SignificantAmendmentstotheFDCAct/21stCenturyCuresAct/default.htm">FDA: 21st Century Cures Act</a></li>
      </ul>
      </div>
      <div fxFlex = "20" class="nav_menu">
          <span class="widget-title">Accessibility</span>
          <div class="textwidget"><p>If you have problems viewing PDF files, download the latest version of <a href="http://get.adobe.com/reader/" target="_blank" rel="noopener">Adobe Reader</a>.</p>
      <p>For <a href="http://edi.nih.gov/consulting/language-access-program/about" target="_blank" rel="noopener">language access</a> assistance, contact <a href="mailto:info@ncats.nih.gov" target="_blank" rel="noopener">the NCATS Public Information Officer</a>.</p>
    </div>
      </div>
      <div fxFlex = "20" class="nav_menu">
        <span class="widget-title">Contact NCATS</span>
          <div class="textwidget"><p>National Center for Advancing Translational Sciences<br>
      6701 Democracy Boulevard, Bethesda MD 20892-4874<br>
      301-594-8966</p>
    </div>
      </div>
      </div>
  <div id="section-2">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="20">Maintained by the <a href="https://ncats.nih.gov/" target="_blank">National Center for Advancing Translational Sciences (NCATS)</a></div>
        <div fxFlex="20"></div>
        <div fxFlex="20">Funded by the <a href="https://commonfund.nih.gov/" target="_blank">NIH Common Fund</a></div>
      </div>
  </div>
</footer>
