<footer id="site-footer" class="container-fluid p-0 mt-4">
  <div id="section-1" class="container pt-3">
    <div class="row">
      <aside id="nav_menu-2" class="widget widget_nav_menu col-sm-6 col-lg-4"><h3 class="widget-title pb-3">Helpful Links</h3><div class="menu-helpful-links-container"><ul id="menu-helpful-links" class="menu"><li id="menu-item-195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a target="_blank" href="https://commonfund.nih.gov/">NIH Common Fund</a></li>
        <li id="menu-item-205" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-205"><a target="_blank" href="https://www.genome.gov/">NHGRI</a></li>
        <li id="menu-item-201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-201"><a target="_blank" href="http://www.lincsproject.org/">NIH LINCS</a></li>
        <li id="menu-item-193" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-193"><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/">PubMed</a></li>
        <li id="menu-item-199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-199"><a target="_blank" href="https://www.ncbi.nlm.nih.gov/geo/">GEO</a></li>
        <li id="menu-item-203" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-203"><a target="_blank" href="https://www.gtexportal.org/home/">GTEx Portal</a></li>
        <li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207"><a target="_blank" href="https://www.fda.gov/RegulatoryInformation/LawsEnforcedbyFDA/SignificantAmendmentstotheFDCAct/21stCenturyCuresAct/default.htm">FDA: 21st Century Cures Act</a></li>
      </ul></div></aside>					<aside id="text-4" class="widget widget_text col-sm-6 col-lg-4"><h3 class="widget-title pb-3">Accessibility</h3>			<div class="textwidget"><p>If you have problems viewing PDF files, download the latest version of <a href="http://get.adobe.com/reader/" target="_blank" rel="noopener">Adobe Reader</a>.</p>
      <p>For <a href="http://edi.nih.gov/consulting/language-access-program/about" target="_blank" rel="noopener">language access</a> assistance, contact <a href="mailto:info@ncats.nih.gov" target="_blank" rel="noopener">the NCATS Public Information Officer</a>.</p>
    </div>
    </aside>					<aside id="text-2" class="widget widget_text col-sm-6 col-lg-4"><h3 class="widget-title pb-3">Contact NCATS</h3>			<div class="textwidget"><p>National Center for Advancing Translational Sciences<br>
      6701 Democracy Boulevard, Bethesda MD 20892-4874<br>
      301-594-8966</p>
    </div>
    </aside>				</div>
  </div>
  <div id="section-2">
    <div class="container p-3">
      <div class="row no-gutters">
        <div class="col-md-3">Maintained by the <a href="https://ncats.nih.gov/" target="_blank">National Center for Advancing Translational Sciences (NCATS)</a></div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3 text-right">Funded by the <a href="https://commonfund.nih.gov/" target="_blank">NIH Common Fund</a></div>
      </div>
    </div>
  </div>
</footer>
