#site-footer {
  background-image: url("../../assets/images/footerBG.png");
  background-size: cover;
}

#site-footer #section-2 {
  background: rgba(0,0,0,.5);
}

#site-footer, #site-footer a {
  color: #fff;
  font-weight: 100;
  font-size: .8rem;
}
