<app-hhs-banner></app-hhs-banner>
<app-sctl-navbar></app-sctl-navbar>
<div class ="scatter-graph" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around start">
  <div fxFlex="25" fxFlex.lt-md="90" class = "scatter-menu" fxFlexOrder.lt-md="-1">
<mat-card>
      <app-scatter-menu (resetZoom)="reset()" (filterScatterChange)="filterData($event)"></app-scatter-menu>
</mat-card>
  </div>
  <div fxFlex = "75" fxFlex.lt-md="90">
      <app-scatter-plot [data]="scatterData" [options]="chartOptions" [filters]="filters" #scatterInstance></app-scatter-plot>
  </div>
</div>
<app-footer></app-footer>
