@import "../../ncats-theme";


.ncats-banner {
  height: 30px;
  color: mat-contrast($ncats-app-primary, 500);
  background-color: mat-color($ncats-app-primary);

}

a{
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

.ncats-banner img{
  height: 18px;
  margin: .25em .1em -.25em .25em;
}

.link-text {
  font-size: 14px;
  padding-top: 5px;
  padding-right: .5em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


span.logo-header.subsection {
  color: mat-color($ncats-app-primary);
}

