
<div class="ncats-banner" fxLayout="row" fxLayout.xs="column" fxLayoutAlign = "start center" >
  <div fxFlex="20"></div>
  <div fxFlex>
  <img src="./assets/images/nihribbon-hhs.svg" alt="HHS Logo">
  <a href="http://www.hhs.gov/" title="Go to the hhs.gov"target="_blank">
    <span class ="link-text" [fxHide.lt-sm]="true">U.S. Department of Health &amp; Human Services</span>
    <span class ="link-text-truncated" [fxHide.gt-sm]="true">HHS</span>
  </a>
  <img src="./assets/images/nihribbon-divider.svg" alt="Divider Arrow">
  <img src="./assets/images/nih-ribbon.svg" alt="NIH logo">
  <a href="http://www.nih.gov/" title="National Institutes of Health | Homepage"target="_blank">
    <span class ="link-text" [fxHide.lt-sm]="true">National Institutes of Health</span>
    <span class ="link-text-truncated" [fxHide.gt-sm]="true">NIH</span>
  </a>
  <img src="./assets/images/nihribbon-divider.svg" alt="Divider Arrow">
  <img src="./assets/images/nih-ribbon.svg" alt="NCATS">
  <a href="http://www.ncats.nih.gov" target="_blank">
    <span class ="link-text"[fxHide.lt-sm]="true">National Center for Advancing Translational Sciences</span>
    <span class ="link-text-truncated" [fxHide.gt-sm]="true">NCATS</span>
  </a>
</div>
<div fxFlex="20"></div>
</div>
